<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074616736329-624jhsaree1fe2qi757phjr42mjmu6hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074616736329-624jhsaree1fe2qi757phjr42mjmu6hl</string>
	<key>API_KEY</key>
	<string>AIzaSyBg-yj9MWUxlTKHrGwlwEXLkKh_ztW9lRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1074616736329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uk.farhadd.gymcall</string>
	<key>PROJECT_ID</key>
	<string>gymcall-9cbc4</string>
	<key>STORAGE_BUCKET</key>
	<string>gymcall-9cbc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074616736329:ios:06f04dc6cc30332909bd98</string>
	<key>DATABASE_URL</key>
	<string>https://gymcall-9cbc4.firebaseio.com</string>
</dict>
</plist>